body {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
  }
  .heading{
    color:brown ;
    border-bottom: 1px solid #929CA4;

  }
 
  p#desc:first-of-type::first-letter {
    font-size: 30px;
  }
  .solution{
    font-weight: bold;
    color: #CC1C0D ;
  }
  #testimonial1 p, #testimonial2 p {
    font-style: italic;
    margin-left: 50px;
  }
  
a[href^="http"]:link {
    color: blueviolet; 
    text-decoration: none;
  }
  
  
  a[href^="http"]:visited {
    color: darkgreen; 
    text-decoration: underline;
  }
  
  
  a[href^="http"]:active {
    color: red; 
  }
  
 
  a[href^="http"]:hover {
    color: orange; 
    text-decoration: underline;
  }
  ul {
    list-style-type: none;
  }
ul.management-team li:first-child {
    color: blue;
  }
  
ul.management-team li:last-child {
    color: red;
  }
  
  